BDSistemas/jupyter/notebooks/ProyectoFinal/data/datos_clima_aemet/datos_clima_2014_2026.csv
BDSistemas/jupyter/notebooks/ProyectoFinal/data/calendario/calendario_festivos_2014_2026.csv
BDSistemas/jupyter/notebooks/ProyectoFinal/Datos_final.csv
BDSistemas/jupyter/notebooks/ProyectoFinal/data/datos_clima_aemet/ultima_fecha_registrada.csv
BDAplicado/xPracticas/UT05/spark/notebooks/practicas/data/ratings.csv
BDAplicado/xPracticas/UT05/spark/notebooks/practicas/data/house_prices.csv
